@import url(https://fonts.googleapis.com/css?family=Roboto:500,300);

hr {
	color: #293037;
	border-style: solid;
}
.b-profile {
	text-align: center;
	width: 277px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #293037;
}

.b-profile-main-info {
	border-bottom: 1px solid #e5e5e5;
}

.b-profile-main-info__title {
	font-weight: 500;
	margin-bottom: 0;
}

.b-profile-main-info__subtitle {
	
}

.b-profile-main-info__photo {
	border-radius: 60px;
}

.b-profile__details {
	
	width: 85%;
	margin: 7% auto;
	padding: 0;
}

.b-profile__key, .b-profile__value {
	border-bottom: 1px solid #e5e5e5;
	margin: 4% 0;
	padding-bottom: 7%;
	float: left;
}

.b-profile__key {
	clear: left;
	width: 50%;
	font-weight: 500;
	text-align: left;
}

.b-profile__value {
	width: 50%;
	text-align: right;
}
